<div class="container">

<%= flash[:notice] %>
<%= flash[:alert] %>

<%= render "shared/profile" %>
  <div class="AccountInformation__header">
    <h3>プロフィール</h3>
  </div>

  <%= form_with model: @user do |f| %>
    <form enctype="multipart/form-data" action="/users/profile" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="1En48RdwYYhahBIkT9dSTX1ye7L6LMO/hWWbor5KRRnQb66kWeUHglsB+v36QBaA5UUcSSV2GfXiT6Jn0kDYYw==">
      <div class="FileUploadArea AccountInformation__input-group">
        <label class="AccountInformation__label" for="user_image">アイコン画像</label>
        

        <p class="FileUploadArea__input-group">
          <img class="FileUploadArea__image">
            <% if @user.avatar? %>
              <%= image_tag @user.avatar.url, :size => '80x80' %>
            <% else %>
              <%= image_tag "usericon_img.png", :size => '80x80' %>
            <% end %>
        

          <label class="FileUploadArea__label" for="user_image">
            <%= f.label :avatar,"アイコン画像" %>
            <%= f.file_field :avatar %>
          </label>
        </p>
      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="user_name">名前</label>

        <div class="AccountInformation__input-wrapper">
          <%= f.text_field :name, placeholder:"名前を入力して下さい。", class:"AccountInformation__input" %>
        </div>
      </div>

      <div class="AccountInformation__input-group">
        <label class="AccountInformation__label" for="user_introduction">自己紹介</label>

        <div class="AccountInformation__input-wrapper">
          <%= f.text_field :introduction, placeholder:"自己紹介を入力して下さい。", class:"AccountInformation__input" %>
        </div>
      </div>

      <div class="AccountInformation__buttons">
        <ul>
          <li><%= link_to "キャンセル", user_path(current_user) %></li>
          <li><%= f.submit "保存" %></li>
        </ul>
    </form>
  <% end %>
</div>