<div class="container">
<%= render "shared/profile" %>

  <% if user_signed_in? && @user == current_user %>
  <div class="AccountInformation__header">
  <h3>プロフィール</h3>

  <a class="AccountInformation__link>
    <img alt="編集アイコン" src="usericon_img.png">
    <%= link_to "編集", edit_user_path(current_user) %>
  </a>
</div>

<div class="AccountInformation__input-group">
  <label class="AccountInformation__label" for="image">アイコン画像</label>
    <p class="AccountInformation__value AccountInformation__value--image">
      <% if current_user.avatar? %>
        <%= image_tag current_user.avatar.url, class: "icon_image", size: "80x80" %>
      <% else %>
        <%= image_tag ("usericon_img.png"), size: "80x80" %>
      <% end %>
    </p>
</div>

<div class="AccountInformation__input-group">
  <label class="AccountInformation__label" for="name">名前</label>
    <p class="AccountInformation__value"><%= @user.name %></p>
</div>

<div class="AccountInformation__input-group">
  <label class="AccountInformation__label" for="introduction">自己紹介</label>
    <p class="AccountInformation__value"><%= @user.introduction %></p>
</div>
<% end %>
</div>