<h2>予約内容の確認</h2>

<%= render "shared/error", obj: @reservation %>

<table class="table is-hoverable">
  <tr>
    <th>チェックイン</th>
    <td><%= @reservation&.start_date&.strftime("%Y/%m/%d") %></td>
  </tr>  
  <tr>
    <th>チェックアウト</th>
    <td><%= @reservation.end_date.strftime("%Y/%m/%d")%></td>
  </tr>
  <tr>
    <th>日数</th>
    <td><%= @reservation.total_day = ((@reservation.end_date - @reservation.start_date) / 1.days).to_i %>日</td>
  </tr>
  <tr>
    <th>人数</th>
    <td><%= @reservation.people %>人</td>
  </tr>
  <tr>
    <th>お支払い金額</th>
    <td><%= @reservation.total_price = @room.price * @reservation.people * @reservation.total_day %></td>
  </tr>
</table>


<%= form_with model: @reservation, local: true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :room_id, value:@room.id %>
  <%= f.hidden_field :room_name, :value=> @room.room_name %>
  <%= f.hidden_field :price, :value=> @room.price %>
  <%= f.hidden_field :people, value:@reservation.people %>
  <%= f.hidden_field :start_date, :value=> @reservation.start_date %>
  <%= f.hidden_field :end_date, :value=> @reservation.end_date %>
  <%= f.hidden_field :image, :value=> @room.image %>
  <%= f.hidden_field :body, value: @room.body %>
  <%= f.hidden_field :total_price, :value=> @reservation.total_price %>
  <%= f.hidden_field :total_day, :value=> @reservation.total_day %>

  <p>上記内容でよろしければ、「確定」ボタンを押してください</p>
  <ul>
    <li><%= f.submit "予約を確定" %></li>
    <li><%= link_to "キャンセル", :reservations %></li>
  </ul>
<% end %>