<section class="container OwnRoomsContainer">
  <h2>登録済み一覧</h2>

  <div class="table-responsive">
    <table class="table align-middle OwnRoomsTable">
      <thead>
        <tr>
          <th>画像</th>
          <th>施設名</th>
          <th>紹介文</th>
          <th>料金</th>
          <th>住所</th>
          <th>作成日</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% @rooms.each do |room| %>
        <% if room.user_id == current_user.id %>
        <tr>
          <td>
          <% if room.image? %>
            <%= image_tag room.image.url, class: "hotel_image", size: "120x70" %>
          <% else %>
            <%= image_tag ("hotel_img.png"), size: "120x70" %>
          <% end %>
          </td>
          <td><%= link_to "#{room.room_name}", {controller: 'rooms', action: 'show', id: room.id} %></td>
          <td> <%= room.body %></td>
          <td class="text-nowrap"><%= room.price %></td>
          <td class="text-nowrap"><%= room.address %></td>
          <td class="text-nowrap"><%= room.created_at&.strftime("%Y/%m/%d") %></td>
          <% if room.user == current_user %>
            <td><%= link_to "編集", edit_room_path(room) %></td>
            <td><%= link_to "削除" , room, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>

  </div>
</section>

