<div class="container">
<h3>施設詳細</h3>

<%= render "shared/error", obj: @reservation %>

<div>
  <ul>
    <li><%= link_to "戻る", :back %></li>
    <li><%= link_to "編集する", edit_room_path(@room) %></li>
  </ul>
</div>


<%= form_with model: @reservation, method: :get, url: new_reservation_path do |f| %>
<table>
  <tr>
    <th>施設画像</th>
    <td>
    <% if @room.image? %>
      <%= image_tag @room.image.url, class: "hotel_image", size: "200x150" %>
    <% else %>
      <%= image_tag ("hotel_img.png"), size: "200x150" %>
    <% end %>
    </td>
  </tr>
  <tr>
    <th>施設名</th>
    <td><%= @room.room_name %></td>
  </tr>
  <tr>
    <th>施設詳細</th>
    <td><%= @room.body %></td>
  </tr>
  <tr>
    <th>料金</th>
    <td><%= @room.price %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @room.address %></td>
  </tr>
</table>

  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :price, value: @room.price %>
  <%= f.hidden_field :room_name, value: @room.room_name %>
  <%= f.hidden_field :image, value: @room.image%>
  <%= f.hidden_field :body, value: @room.body %>

  <label>チェックイン</label>
    <%= f.date_field :start_date, required: true%>

  <label>チェックアウト</label>
    <%= f.date_field :end_date, required: true%>

  <label>人数</label>
    <%= f.text_field :people, required: true%>

  <%= f.submit "予約する"%>
<% end %>
</div>